html {
  font-size: 16px;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #fff;
  background: #000;
}

div#root {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.appTitle {
  font-size: 2rem;
}

.appTitle .subtitle {
  font-size: .5em;
}

.todoList .list {
  margin: 2rem 0;
}

.todoList .list .todo {
  cursor: pointer;
}

.todoList .list .todo.completed {
  text-decoration: line-through;
  order: 13;
}

.todoList .list .deleteButton {
  color: #fff;
  font-size: 1.25rem;
  font-weight: bold;
  margin: .5rem;
  cursor: pointer;
}