<template>
  <div class="appTitle">
    <div class="title">{{ title }}</div>
    <div class="subtitle">{{ subtitle }}</div>
  </div>
</template>

<script>
  export default {
    name: 'AppTitle',
    props: {
      title: String,
      subtitle: String
    }
  }
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
  .appTitle {
    font-size: 2rem;
  }

  .appTitle .subtitle {
    font-size: .5em;
  }
</style>
