<template>
  <div class="todoList">
    <div class="list">
      <div class="noTodos" v-if="!this.todos().length">No Todos.</div>
      <div v-bind:class="{ completed: todo.isDone }" class="todo" v-for="(todo, index) in this.todos()" v-bind:key="index">
        <span @click="handleToggleTodo(index)">
          <span class="order">{{index + 1}}.</span> <span class="name">{{todo.name}}</span>
        </span>
        <span @click="handleRemoveTodo(index)" class="deleteButton">x</span>
      </div>
    </div>
    <button @click="handleAddTodo" className="addTodoButton">Add new Todo</button>
  </div>
</template>

<script>
  import { ADD_TODO, REMOVE_TODO, TOGGLE_TODO } from '../constants/base.js';
  import { mapMutations, mapGetters } from 'vuex';
  export default {
    name: 'TodoList',
    methods: {
      ...mapMutations([
        ADD_TODO,
        'payload'
      ]),
      ...mapMutations([
        REMOVE_TODO,
        'payload'
      ]),
      ...mapMutations([
        TOGGLE_TODO,
        'payload'
      ]),
      ...mapGetters([
        'todos'
      ]),
      handleAddTodo() {
        const todo = window.prompt("Enter your todo name");
        if (!todo || !todo.length) {
          return false;
        }
        this.ADD_TODO({ name: todo });
      },
      handleToggleTodo(index) {
        this.TOGGLE_TODO(index);
      },
      handleRemoveTodo(index) {
        if (window.confirm("Are you sure you want to delete this todo?")) {
          this.REMOVE_TODO(index);
        }
      }
    }
  }
</script>

<style>
  .todoList .list {
    margin: 2rem 0;
  }

  .todoList .list .todo {
    cursor: pointer;
  }

  .todoList .list .todo.completed {
    text-decoration: line-through;
    order: 13;
  }

  .todoList .list .deleteButton {
    color: #fff;
    font-size: 1.25rem;
    font-weight: bold;
    margin: .5rem;
    cursor: pointer;
  }
</style>