<template>
  <div id="app">
    <AppTitle title="Vue Todo" subtitle="from react-angular-vue-todos"/>
    <TodoList />
  </div>
</template>

<script>
import AppTitle from './components/AppTitle.vue'
import TodoList from './components/TodoList.vue'

export default {
  name: 'app',
  components: {
    AppTitle,
    TodoList
  }
}
</script>

<style>
  html {
    font-size: 16px;
  }

  body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
      "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #fff;
    background: #000;
  }

  div#app {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
</style>
