<div class="todoList">
    <div *ngIf="todos.length" class="list">
        <div *ngFor="let todo of todos; let i = index" class="{{todo.isDone ? 'todo completed' : 'todo'}}">
            <span (click)="handleToggleTodo(i)">
                <span class="order">{{i + 1}}. </span>
            <span class="name">{{todo.name}}</span>
            </span>
            <span (click)="handleRemoveTodo(i)" class="deleteButton">x</span>
        </div>
    </div>
    <button (click)="handleAddTodo()" className="addTodoButton">Add new Todo</button>
</div>