.todoList .list {
    margin: 2rem 0;
}

.todoList .list .todo {
    cursor: pointer;
}

.todoList .list .todo.completed {
    text-decoration: line-through;
    order: 13;
}

.todoList .list .deleteButton {
    color: #fff;
    font-size: 1.25rem;
    font-weight: bold;
    margin: .5rem;
    cursor: pointer;
}